
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Mando Helmet" src="assets/img/star_wars_mandalorian_black.jpg">
</div>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>

<router-outlet></router-outlet>
